extends layout

block content
    h1 #{title} #{event}

    table.table.sortable
        thead
            tr
                th Team
                th OPR
                th Rank Points
                th Predicted Rank Points
            tbody
                each team in teams
                    tr
                        td= team.number
                        td= team.opr.toFixed(2)
                        td= team.rank_points
                        td= team.rank_points + team.predicted_rank_points

    h2 Matches

    div.panel.panel-default
    each match in matches
        h3
            a(href='https://www.thebluealliance.com/match/#{match.key}') #{match.comp_level} #{match.match_number}

        - var scores = match.alliances

        div.panel-body
            if scores.red.score !== -1
                div Red: #{scores.red.score}
            else
                div Red (P): #{match.predicted_score.red.toFixed(2)}

            each team in scores.red.teams
                a(href='https://www.thebluealliance.com/team/#{team.substr(3)}')
                    span.label.label-danger #{team}

        div.panel-body
            if scores.blue.score !== -1
                div Blue: #{scores.blue.score}
            else
                div Blue (P): #{match.predicted_score.blue.toFixed(2)}

            each team in scores.blue.teams
                a(href='https://www.thebluealliance.com/team/#{team.substr(3)}')
                    span.label.label-primary #{team}
