extends layout

block content
    .container
        h1 #{name} #{year}
        p
            | #{start_date.getDate()}/#{start_date.getMonth()}
            | to #{end_date.getDate()}/#{end_date.getMonth()}
            | in #{location}

        .row
            a(href="/event/#{id}/#{year}/compare" style="margin: 15px 0").btn.btn-info.btn-block
                span.glyphicon.glyphicon-star Compare
            ul.list-group
                each team in teams
                    .col-md-4
                        a(href="/team/#{team}/#{year}/#{id}")
                            li.list-group-item
                                Team #{team}

        .row(style="margin-top: 25px")
            p Predictor (#{pred.best_predictor}) has been #{pred.best_results.toFixed(1)}% accurate.
            each match, ind in event.lineups
                .col-lg-4
                    li.well(style="background:white")
                        p #{match.match_number} #{match.level}
                        if match.red.won
                            .well: b
                                |  #{match.red.teams[0].substring(3)},
                                |  #{match.red.teams[1].substring(3)},
                                |  #{match.red.teams[2].substring(3)}
                                |  - #{match.red.points}
                                | P #{pred.prediction[ind].red.points[pred.best_predictor].toFixed(0)}
                        else
                            .well
                                |  #{match.red.teams[0].substring(3)},
                                |  #{match.red.teams[1].substring(3)},
                                |  #{match.red.teams[2].substring(3)}
                                |  - #{match.red.points}
                                | P #{pred.prediction[ind].red.points[pred.best_predictor].toFixed(0)}

                        if match.blue.won
                            .well: b
                                |  #{match.blue.teams[0].substring(3)},
                                |  #{match.blue.teams[1].substring(3)},
                                |  #{match.blue.teams[2].substring(3)}
                                |  - #{match.blue.points}
                                | P #{pred.prediction[ind].blue.points[pred.best_predictor].toFixed(0)}
                        else
                            .well
                                |  #{match.blue.teams[0].substring(3)},
                                |  #{match.blue.teams[1].substring(3)},
                                |  #{match.blue.teams[2].substring(3)}
                                |  - #{match.blue.points}
                                | P #{pred.prediction[ind].blue.points[pred.best_predictor].toFixed(0)}

